<div class="container-fluid" ng-controller="newUserController">
    <div class="col-sm-12" style="margin-top:15px;">
        <div class="panel panel-success">
            <div class="panel-body">
            <form  class="form-inline" ng-submit="createNewUser()">
                <div class="form-group">
                    <label>User name</label>
                    <input type="text" class="form-control" required ng-model="newUser.username">
                </div>       	
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" required ng-model="newUser.email">
                </div>       				
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" required ng-model="newUser.password">
                </div>       	
                <button class="btn btn-success" type="submit">Add new accuont</button>
            </form>
            </div>
        </div>	       		
    </div>

    <div class="col-sm-3">
           <ul class="list-group">
              <li class="list-group-item" ng-repeat="user in oldUserList">
                  <div class="media" ng-click="getLabel(user)">
                    <div class="media-body">
                      <h4 class="media-heading">{{user.username}}</h4>
                      <p>{{user.label}}</p>
                    </div>
                  </div>
              </li>
          </ul>
    </div>
  <div class="col-sm-2">
       <ul class="list-group">
          <li class="list-group-item" ng-repeat="label in labelList.data">
              <span class="badge">{{label.nb_messages}}</span>
              <div class="media" ng-click="getMessages(label,labelList.config)">
                <div class="media-body">
                  <h4 class="media-heading">{{label.name}}</h4> 
                </div>
              </div>
          </li>
      </ul>
  </div> 
  <div class="col-sm-3">
       <ul class="list-group">
          <li class="list-group-item" ng-repeat="message in messagesList.data">
              <div class="media" ng-click="openMessages(message,messagesList.config)">
                <div class="media-body"> 
                  <p>{{message.subject}}</p>
                </div>
              </div>
          </li>
      </ul>
  </div>
  <div class="col-sm-4">
       <ul class="list-group">
          <li class="list-group-item" ng-if="messagesData">
              <div class="media">
                <div class="media-body">
                  <h4 class="media-heading">{{messagesData.data.message_id}}</h4> 
                  <p>{{messagesData.data.subject}}</p>
                  <p>{{messagesData.data.sent_at}}</p>
                  <p>{{messagesData.data.subject}}</p>
                </div>
              </div>
          </li>
      </ul>
  </div>
</div>